h1 {
    
    text-size-adjust: 20px;
    color:white;
    padding-left: 500px ;
    padding-right: 50px ;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #4e4d4d;
    border-top: blue  5px solid;
    border-bottom: 1px;
    margin-bottom:30px;

}
tr{
    color:white;
    text-align: center;
    background-image: url("../img/code.jpg");

}

td{
    border-top: blue 1px solid;
    border-right: blue 1px solid;
    padding: 5px;
    font-weight: bold;
    padding: 20px;
}

table{
    margin-right:auto;
    margin-left:auto;
    background-color: #4e4d4d;
    border-top: blue  5px solid;
    border-bottom: 1px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
}
body {
    background-image: url("../img/bg.png");
}

